
<div class="row section-tema-interes">
    <div class="col-12">
        <h2>Otros temas de tu interés</h2>
    </div>

    <div *ngFor="let interes of arrInteres" class="col-12 col-md-6 cards-interes">
        <!-- tarjeta de interes -->
        <div class="card govco-card interes-card">
            <div class="row">
              <div class="col-sm-3 d-flex justify-content-center">
                 <img class="card-img govco-card-image govco-card-image-left container-img" src="{{interes.img}}" alt="imagen de interes" />
              </div>
              <div class="col-sm-9 pl-md-4">
                <div class="govco-card-header">
                    <h4>{{interes.subtitulo}}</h4>
                </div>
                <div class="card-body">
                    <p>{{interes.texto}}</p>
                    <a href="#" class="btn btn-low-mix-govco pr-0 d-flex align-items-center justify-content-end">
                        <span class="btn-govco-text">{{interes.enlace}}</span>
                        <span class="govco-icon govco-icon-right-arrow"></span>
                    </a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>