// Colors
$primary-color: #3366CC;
$secondary-color:#124A83;
$third-color:#FFAB00;

//General Colors
$white: #ffffff;

$local-color-2:#0B457F;
$local-color-3:#0061EA;
$local-color-4:#3772FF;

//Fonts
$primary-font:  'Montserrat', sans-serif;
$secondary-font:'Work Sans', sans-serif;