   
    // Seccion alert informativo superior
    .alert-header{
        transition: all 0.3s ease;
        padding:0;
        margin-bottom:0;
        height: 28px;
        width: 100%;
        color:$secondary-color;
        background: $third-color;
        border-radius: 0;
        button{
            color:$local-color-3;
            opacity: 1;
            &:hover{
                color:$secondary-color; 
            }
        }
        p{
            color:$secondary-color;
            margin-bottom: 0;
            font-size:14px !important;
        }
    }

    //seccion header superior
    .navbar-govco{
        padding:0;
        .navbar-brand{
            padding: 0 !important;
            span{
                color:$white;
                border:1px solid $white;
                font-size: 8px;
                padding: 0 7px;
                font-family: $secondary-font;
            }
        }
        .navbar-first-menu{
            p{
                color:$white;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items: center;
            }
        }
        span{
            &:hover{
                color:#eaeaea !important;
            }
        }
    }

    // Seccion items menu
    .nav-secondary {
        ul{
            .nav-item{
                a{
                    color:$primary-color !important;
                    background:$white !important;
                    border-bottom:7px solid $white;
                    &:hover{
                        background:$white !important;
                        border-bottom:7px solid $third-color;
                        color:$primary-color !important;
                    }
                }
            }
        }
    }

    .navbar-expand-lg{
        padding-top:0;
        padding-bottom:0;
        ul li{
            margin:0 15px;
        }
    }

    //Seccion bg con imagen
    .bg-main{
        min-height: 390px;
        margin-top:120px;
        .contenedor-buscador{
            .input-search{           
                position: relative;
                width: 100%;
                height: 52px;
                background: $white;
                font-family: $secondary-font;
                font-size: 1rem;
                letter-spacing: 0;
                color: rgba(75,75,75,.5);
                padding-left: 20px;
                border: unset;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 2rem;
                background-size: 35px 35px;
                background-position: left 10px center;
                background-repeat: no-repeat;
                -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
                -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
                box-shadow: 0px 3px 6px #00000029;
            }
            .input-search::placeholder{
                color:#0B457F;
                font: Light 20px $primary-font;
                opacity: 0.64;
                letter-spacing: 0px;
            }
            .content-search{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: unset;
                cursor: pointer;
                padding: unset;
                border: unset;
                border-radius: 50%;
                font-size:23px;
                background:none;
                position: absolute;
                right: 17px;
            }
        }
        h1{
            color:$white;
            font-weight: 300;
            font-size: 3rem;
        }
        h4{
            color:$white;
            font-weight: 300;
        }
    }
  

    //heade border
    .header_change{
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
    }

// Sections Medias 

@media (max-width: 992px){
    .navbar-expand-lg{
        padding:10px;
    }
    .navbar-collapse {
        margin:5px 0;
        position: relative;
        height: auto;
        background-color: $white;
        button{
            margin:5px 0;
        }
    }
}

@media (max-width: 768px) { 
    .alert-header{
        height: 100%;
        text-align: center;
    }
 }