
.cards-interes:nth-child(2n+1) {
 padding-left: 0;
}

.section-tema-interes{
    transform: translateY(-80px);
    h2{
        font-weight: 300;
        padding-left: 63px;
        padding-bottom:15px;
    }
    .govco-card-header h4{
        text-align: left;
        font-weight: 300;
    }
    .interes-card{
        padding:20px;
        margin-bottom: 15px;
        min-height: 200px;
        p{
            font-family: $secondary-font;
            font-size: 12px;
            color:$local-color-2;
            min-height: 40px;
        }
        h4{
            color:$local-color-2;
            font: Light 33px/39px $secondary-font;
        }
        .container-img{
            max-width: 90px;
            max-height: 90px;
            margin-top:10px;
            border-radius: 12px;
            object-fit: contain;
        }
        a {
            span{
                color:$local-color-4 !important;
            }    
            .btn-govco-text{
                font-size: 12px !important;
            }
        }
        
    }
}

@media (max-width: 768px) {   
    
    .cards-interes{
 
        margin-bottom:15px;
        &:nth-child(2n+1) {
            padding-left: 15px;
        }
    }
    .section-tema-interes .interes-card{
        min-height: 100%;
        padding: 5px 20px;
        img{
            margin-bottom:15px;
        }
    }
 }