.opinion-card{
    transform:translateY(-100px);
    padding: 30px 30px 30px 63px;
    a span{
        font-size: 12px;
    }
    .text-area-card{
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid $local-color-4;
        padding:20px;
        border-radius: 10px;
        h5{
            font-size: 25px;
            font-weight: 400;
            color:$local-color-2;
        }
        h6{
            font-weight: 400;
            color:$local-color-2;
        }
        p{
            font-weight: 400;
            font-size: 12px;
            font-family: $secondary-font;
            letter-spacing: 0px;
            color:$local-color-2;
        }
        button{
            color: $local-color-4 ;
            border:1px solid $local-color-4 !important;
        }
    }
    h3{
        color:$local-color-2;
        font-weight: 300;
        font-family: $secondary-font;
        font-size: 2rem;
    }
    .btn-participacion{
        display: flex;
        align-items: center;
        margin:0;
        float: right;
        padding: 0 10px;
        color:$local-color-4;
        font-size: 12px;
        span{
            color:$local-color-4;
        }
        &:hover{
            span{
                color:$white ;
            }
        }
    }
    // seccion de informacion individual
    .articulo-card-opinion{
        p{
            color:$local-color-2 !important;
        }
        .head-card-opinion{
            text-transform: uppercase;
            color:$white !important;
            font-size: 13px;
            font-weight: 500;
            padding-left:10px;
            width: 35%;
            display: block;
            margin-bottom: 10px;

            &.orange {
                background: #F3561F;
            }
            &.green {
                background: #069169;
            }
            &.blue {
                background: #3772FF;
            }
        }
        .title-card-opinion p{
            font-weight: 600;
            font-size: 13px;    
            font-family: $primary-font;
        }
        .info-card-opinion p{
            font-size: 12px;
            padding-bottom: 5px;
        }
  
        .line-card{
            border-bottom:2px solid $local-color-4;
            opacity: 0.2;
            display: block;
            margin:0 0 13px;
        }
    }
    // bloquear resize
    textarea {
        resize: none;
        background-color: rgba(157,190,255,.3)!important;
        border-radius: .8rem!important;
    }
}
@media (max-width: 768px) { 
    .opinion-card{
        padding:20px;
    }
 }