<!-- Seccion del header -->
<app-header></app-header>
<!-- Seccion de contenido -->
<div class="container">
    <app-opinion></app-opinion>
    <app-interes></app-interes>
    <div class="scroll-light-govco cdn-scroll-dark"></div>
</div>

<!-- Seccion del footer -->
<app-footer></app-footer>
  
