<div class="row">
    <div class="col-12">
        <div class="card govco-card opinion-card">
            <div class="card-body">
                <div class="row">   
                    <div class="col-12 col-md-7">
                     <h3>{{sectionTitle}}</h3>
                        <div class="row">
                            <div *ngFor="let encuesta of arrEncuestas" class="col-12 articulo-card-opinion">
                                <div [ngSwitch]="encuesta.estado">
                                    <p *ngSwitchCase="1" class="head-card-opinion orange">Falta un día</p>
                                    <p *ngSwitchCase="2" class="head-card-opinion green">Activo!</p>
                                    <p *ngSwitchCase="3" class="head-card-opinion blue">Conoce los resultados</p>
                                </div>
                                <div class="title-card-opinion">
                                    <p>{{encuesta.sub_titulo}}</p>
                                </div>
                                <div class="row info-card-opinion">
                                    <div class="col-8">
                                        <p>{{encuesta.texto}}</p>
                                    </div>
                                    <div *ngIf="encuesta.participantes > 0" class="col-4 pl-0 text-right">
                                        <p>{{encuesta.participantes}} colombianos participando</p>
                                    </div>
                                </div>  
                                <span class="line-card"></span> 
                            </div>
                            
                            <div class="col-12 col-md-8 offset-md-4  text-right">
                                <a href="#" class="btn btn-low-mix-govco pr-0 d-flex align-items-center justify-content-end">
                                    <span class="btn-govco-text">Conocer otros ejercicios de participación</span>
                                    <span class="govco-icon govco-icon-right-arrow"></span>
                                  </a>
                            </div>   
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="card govco-card text-area-card">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="mb-1">Cúentanos</h5>
                                    <h6 class="mb-1">¿Cómo podemos mejorar GOV.CO?</h6>
                                    <p class="mb-4">Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <textarea class="form-control" rows="5" placeholder="Escribe aquí tu opinión" id="idTextArea" maxlength="300">
                                    </textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                        <button href="/" class="btn-round btn-middle">Enviar mi opinión</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>